h3 Add a new Video Segment

form.form-horizontal.well
  div.row
    div.span12 
      div.span6      
        fieldset
          div.control.group
            label(for="segmentUrl") URL
            div
              input.input-xxlarge#segmentUrl(ng-model="newVideoSegment.url", type="url", name="segmentUrl", placeholder="http://www.youtube.com/...", ng-change='segmentUrlUpdated()')
      div.span5
        div#videoInfo(ng-show='newVideoSegment.valid')
          table
            tr
              td.thumbColumn
                img(ng-src="{{newVideoSegment.sourceSquareThumb}}")
              td
                strong {{newVideoSegment.sourceTitle}}                    
                br
                small {{newVideoSegment.sourceDesc}}           
  div.row
    div.span12
      br
  div.row
    div.span12           
      div.span6
        fieldset
          div.control-group 
            div
              label.actionable(ng-click="additionalInfoVisible=!additionalInfoVisible") {{additionalInfoLabelText()}} Additional Info
          div.control-group
            div(ng-show="additionalInfoVisible")
              label(for="parentVideo") Parent Video          
              div
                input.input-xlarge#parentVideo(type="text", name="parentVideo", placeholder="e.g. Photosynthesis...", ng-model="parentVideoValue", bs-typeahead="parentVideoTypeaheadFn")
                {{parentVideoValue}} doesn't exist yet.
                button.btn.btn-primary(ng-click='addNewVideoSegment()') Add it to the Sk8abase
                p.help-block (optional)
  div.row
    div.span12
      button.btn.btn-primary(ng-click='addNewVideoSegment()') Add Video Segment     



h3 Recently added Segments
div.span12
  table.table.videosTable
    thead
      tr
        th.thumbColumn image
        th.infoColumn info
        th.extraInfoColumn extra info
        th.urlColumn url
    tbody
      tr(ng-repeat='videoSegment in videoSegments')

        td
          img(ng-src="{{videoSegment.sourceSquareThumb}}")
        td
          h3 {{videoSegment.sourceTitle}}
          p {{videoSegment.sourceDesc}}
        td
          p {{videoSegment.sourceDuration}}
          input(type="button", value="Process", ng-click="processVideoSegment($index)")
        td
          p {{videoSegment.url}}