// TODO get the inline display:none styles out!                  

div.span12
  form.form-horizontal.well
    h3 Add a new Video Segment
    br
    div.row
      div.span12              
        tabset
          tab(ng-repeat="tab in tabs", heading="{{tab.title}}", active="tab.active")          
        div(ng-show="tabs[0].active")          
          fieldset
            div
              strong.control-label(for="searchTerms") Search Terms
              div.controls                  
                span
                  input#searchTerms(ng-change="searchQueryChanged()", ng-model="youtubeSearchQuery", type="text", placeholder="", ng-enter="searchYoutube()").input-xxlarge
                  span &nbsp;&nbsp;                      
                  button(ng-click="searchYoutube()").btn Search                      
            div(ng-show='!newVideoSegment.valid', data-ng-animate="'fade'").control-group
              div.controls                
                table.table.youtubeResults                 
                  tr(ng-repeat='result in youtubeSearchResults', style="vertical-align:middle") 
                    td.addColumn
                      span(ng-click="youtubeResultSelected(result)").icon-plus-sign.icon-4x.addVideoControl
                    td.thumbColumn
                      img(ng-src="{{result.thumbnail.sqDefault}}")
                    td.titleColumn
                      h4 {{result.title}}                        
                    td.videoInfoColumn
                      //- p
                      //-   span 
                      //-     strong Uploader&nbsp;&nbsp;
                      //-     span {{result.uploader}}
                      p
                        span 
                          strong View Count&nbsp;&nbsp;
                          span {{result.viewCount}}
                      p
                        span 
                          strong Duration&nbsp;&nbsp;
                          span {{result.duration | minutes}}
        fieldset(ng-show="tabs[1].active")
          div.control-group
            strong.control-label(for="segmentUrl") URL                       
            div.controls
              input.input-xxlarge#segmentUrl(ng-model="newVideoSegment.url", type="url", name="segmentUrl", placeholder="http://www.youtube.com/...", ng-change='segmentUrlUpdated()')
              span.help-block Paste in any Youtube URL ...                    
        fieldset          
            div#videoInfo.controls(ng-show='newVideoSegment.valid', data-ng-animate="'fade'", style="display:none")
              table
                tr
                  td.thumbColumn
                    img(ng-src="{{newVideoSegment.sourceSquareThumb}}")
                  td
                    strong {{newVideoSegment.sourceTitle}}                    
                    br
                    small {{newVideoSegment.sourceDesc}}             
        div(ng-show='newVideoSegment.valid', data-ng-animate="'fade'", style="display:none")
          include includes/inputBlock
        div.row
          div.span4
            div
              br
              br
              button(ng-click='addNewVideoSegment()', ng-class="!newVideoSegment.valid ? 'disabled' : ''").btn.btn-primary.btn-large.btn-block Add Segment     

  h3 Recently added Segments
  div.span12
    table.table.videosTable
      thead
        tr
          th.thumbColumn image
          th.infoColumn info
          th.extraInfoColumn status
          th.urlColumn url
      tbody
        tr(ng-repeat='videoSegment in videoSegments', style="vertical-align:middle")

          td
            img(ng-src="{{videoSegment.sourceSquareThumb}}")
          td
            h3 {{videoSegment.sourceTitle}}
            p {{videoSegment.sourceDesc}}
          td
            h4 {{videoStatusString(videoSegment.status)}}
            div(ng-show="videoSegment.status == 3 && videoSegment.percentComplete > 0")
              progress(percent="videoSegment.percentComplete")
              strong.center-align {{videoSegment.timeRemaining}}
            div(ng-show="videoSegment.status == 4")
              i.icon-spinner.icon-spin.icon-large
          td
            p {{videoSegment.url}}