

form.form-horizontal.well
  h3 Add a new Video Segment
  div.row
    div.span12       
      fieldset
        div.control.group
          strong.control-label(for="segmentUrl") URL
          div.controls
            input.input-xxlarge#segmentUrl(ng-model="newVideoSegment.url", type="url", name="segmentUrl", placeholder="http://www.youtube.com/...", ng-change='segmentUrlUpdated()')
          div#videoInfo.controls(ng-show='newVideoSegment.valid', data-ng-animate="'fade'")
            table
              tr
                td.thumbColumn
                  img(ng-src="{{newVideoSegment.sourceSquareThumb}}")
                td
                  strong {{newVideoSegment.sourceTitle}}                    
                  br
                  small {{newVideoSegment.sourceDesc}}             
      fieldset
        div.control-group
          div(ng-show='newVideoSegment.valid', data-ng-animate="'fade'")
            label.control-label(for="parentVideo") Parent Video          
            div.controls
              input.input-xlarge#parentVideo(type="text", name="parentVideo", placeholder="e.g. Photosynthesis...", ng-model="parentVideo.name", bs-typeahead="parentVideoTypeaheadFn")
              span
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              span(ng-show='showAddParentVideoButton()', data-ng-animate="'fade'")
                "{{parentVideo.name}}" not found.
              span
                &nbsp;&nbsp;&nbsp;&nbsp;
              button.btn.btn-success.btn-small(ng-show='showAddParentVideoButton()', ng-click='someFunction()', data-ng-animate="'fade'") Add new Video to the Sk8abase
              span.help-block (optional)
      fieldset
  div.row
    div.span4
      div
        br
        br
        button.btn.btn-primary.btn-large.btn-block(ng-click='addNewVideoSegment()') Add Video Segment     
        

          



h3 Recently added Segments
div.span12
  table.table.videosTable
    thead
      tr
        th.thumbColumn image
        th.infoColumn info
        th.extraInfoColumn extra info
        th.urlColumn url
    tbody
      tr(ng-repeat='videoSegment in videoSegments')

        td
          img(ng-src="{{videoSegment.sourceSquareThumb}}")
        td
          h3 {{videoSegment.sourceTitle}}
          p {{videoSegment.sourceDesc}}
        td
          p {{videoSegment.sourceDuration}}
          input(type="button", value="Process", ng-click="processVideoSegment($index)")
        td
          p {{videoSegment.url}}