div.leaderboard.text-center
  form.well
    span
      h2 Demo Password
    input(type="password", ng-model="pass").input-lg.form-control
    br
    button(ng-click="checkPass()").btn-large.btn Submit
