
div.container-fluid
  div.row-fluid
    div.sidebar-nav.left
      div.thumbnail
        h2 {{currSearch.item.name}}
        img(src="./images/{{currSearch.item.thumbFileName}}")

    div.sidebar-nav.right
      table.table
        tr(ng-repeat="clip in playlist.items", mouseover="activeclip", ng-class="playlist.position == $index ? 'selectedclip' : ''", ng-click="selectClip($index)")
          td
            img(src="{{'./images/' + clip.thumbFileName}}")
          td
            p(ng-repeat="trick in clip.tricks")
              {{trick.trickTypeRef.name}}
    div.content.fixed-fixed
      div
        youtube-video-player(playlist="playlist", playstate="playstate")
      div.well
        h2 {{playlist.items[playlist.position].skaterRef.name}}
        div(ng-repeat="trick in playlist.items[playlist.position].tricks")
            h3 {{trick.trickTypeRef.name}}

