
div.container-fluid
  div.row-fluid
    div.sidebar-nav.left
      div.thumbnail
        h2 {{currSearch.item.name}}
        img(src="./images/{{currSearch.item.thumbFileName}}")

    div.sidebar-nav.right
      p bla blah blah
      p bla blah blah
      p bla blah blah
      p bla blah blah
    div.content.fixed-fixed
      div.hero-unit
        youtube-player

  div.row.info-row

  p this is the view Ctrl
  p {{currSearch.item.nameSlug}}
  ul
    li(ng-repeat="resultSet in resultSets")
      ul
        li(ng-repeat="result in resultSet.results")
          img(ng-src="{{'./images/' + result.thumbFileName}}")
