
div.container-fluid
  div.row-fluid
    div.sidebar-nav.left
      div.thumbnail
        h2 {{currSearch.item.name}}
        img(src="./images/{{currSearch.item.thumbFileName}}")

    div.sidebar-nav.right
      table.table
        tr(ng-repeat="clip in clips", mouseover="activeclip", ng-click="selectClip(clip)")
          td
            img(src="{{'./images/' + clip.thumbFileName}}")
          td
            p(ng-repeat="trick in clip.tricks")
              {{trick.trickTypeRef.name}}
    div.content.fixed-fixed
      div
        youtube-player
      div.well
        h2 {{currClip.skaterRef.name}}
        div(ng-repeat="trick in currClip.tricks")
            h3 {{trick.trickTypeRef.name}}

