div.span12
  div.row.info-row

div(ng-repeat="resultSet in resultSets")
  span.thumb-scroller-row
    div.thumb-scroller-info-column
      p().block {{resultSet.query.entity}}
    div(id="{{'thumbScroller' + $index}}").jThumbnailScroller
      div.jTscrollerContainer
        div.jTscroller
          a(href="#", ng-repeat="result in resultSet.results", repeat-done="layoutDone('#thumbScroller' + $parent.$index)").scroller-thumb-container
            div
              img(src="./images/kQq_9o0Jvi8_29_thumb_4.37.jpg").scroller-thumb
              p {{result.name}}


