div.span12
  div.row
    div(id="tS1").jThumbnailScroller
      div.jTscrollerContainer
        div.jTscroller
          a(href="#", ng-repeat="skater in skaters", repeat-done="layoutDone()").scroller-thumb-container
            div
              img(src="./images/kQq_9o0Jvi8_29_thumb_4.37.jpg").scroller-thumb
              p Rodney Mullen!
      a(href="#").jTscrollerPrevButton
      a(href="#").jTscrollerNextButton

//
//
//    a(href="#")
//      img(src="./images/kQq_9o0Jvi8_29_thumb_4.37.jpg")
//    a(href="#")
//      img(src="./images/kQq_9o0Jvi8_29_thumb_4.37.jpg")
//    a(href="#")
//      img(src="./images/kQq_9o0Jvi8_29_thumb_4.37.jpg")
//    a(href="#")
//      img(src="./images/kQq_9o0Jvi8_29_thumb_4.37.jpg")
//    a(href="#")
//      img(src="./images/kQq_9o0Jvi8_29_thumb_4.37.jpg")
//    a(href="#")
//      img(src="./images/kQq_9o0Jvi8_29_thumb_4.37.jpg")
//    a(href="#")
//      img(src="./images/kQq_9o0Jvi8_29_thumb_4.37.jpg")