p There are {{posts.length}} posts
div(ng-repeat='post in posts')
  h3 {{post.title}}
  div {{post.text}}

  a(href='/readPost/{{post._id}}') More
  |  - 
  a(href='/editPost/{{post._id}}') Edit
  |  - 
  a(href='/deletePost/{{post._id}}') Delete