div.span12
  div.row
    div.span3
      form.form-horizontal
          label.control-label Skater
          div.controls
            div.input-append.btn-group
              input(id="appendedInputButton", type="text").span2
              a(data-toggle="dropdown", href="#").btn.btn-primary.dropdown-toggle
                span.caret
              ul.dropdown-menu
                li(ng-repeat='skater in skaters')        
                  a(href="#") {{skater.name}}

    div.span3
      form.form-horizontal
          label.control-label Trick
          div.controls
            div.input-append.btn-group
              input(id="appendedInputButton", type="text").span2
              a(data-toggle="dropdown", href="#").btn.btn-primary.dropdown-toggle
                span.caret
              ul.dropdown-menu
                li(ng-repeat='trickType in trickTypes')        
                  a(href="#") {{trickType.name}}

    div.span3
      form.form-horizontal
          label.control-label Spot
          div.controls
            div.input-append.btn-group
              input(id="appendedInputButton", type="text").span2
              a(data-toggle="dropdown", href="#").btn.btn-primary.dropdown-toggle
                span.caret
              ul.dropdown-menu
                li(ng-repeat='clip in clips')        
                  a(href="#") {{clip._id}}

