h3 Tag Clips Eh

div.container-fluid
	div.sidebar.left
		div.well
			h5 Sidebar
	div.sidebar.right
		div.well
			h5 Sidebar
	div.content
		div.hero-unit
			h1 Content
			include includes/videoconsole

