div.container-fluid
	div.sidebar.left
		div.well
			div.clip-filter
				h5 Sidebar
			div.clips
				ul.nav.nav-list
					li(ng-repeat="clip in clips", ng-class="getClipClass($index)", ng-click="setCurrentClip(clip)", clips-loaded)
						ul.thumbnails
							li.span.thumbspan
								div.thumbnail
									img(ng-show="!clip.thumbFileName", ng-src="http://img.youtube.com/vi/{{clip.videoSegmentId}}/default.jpg")
									img(ng-show="clip.thumbFileName", ng-src="./images/{{clip.thumbFileName}}")							
							div.right.infoColumn							
								strong {{clip.duration | number:0 }} s	
								p {{clip.updated | date:'short'}}
	div.content.right.well
		div.current-clip-content
			div(ng-controller='YoutubeCtrl').player-console
				include includes/videoconsole
			div(ng-show="currClipIndex >= 0").tagging-console
				include includes/inputBlockThin
				alert(ng-repeat="error in errors", type="error.type", close="closeAlert($index)") {{error.msg}}
				button.btn.btn-primary(ng-click='updateClip()') Update Clip