div()#player-container
  div#player0(ng-show="playerIsWithCurrentPlaylistItem('player0')")
    p sample content
  div#player1(ng-show="playerIsWithCurrentPlaylistItem('player1')")
    p sample content
  div#player2(ng-show="playerIsWithCurrentPlaylistItem('player2')")
    p sample content
  div#player3(ng-show="playerIsWithCurrentPlaylistItem('player3')")
    p sample content
  div#player4(ng-show="playerIsWithCurrentPlaylistItem('player4')")
    p sample content

div.player-controls
  //span(ng-click="togglePlay()").icon-4x.left.icon-youtube-play  
  span(ng-click="toggleKeepPlaying()", ng-class="[]").icon-2x.icon-retweet.right.icon-button.play-control
  span(ng-click="toggleSlowMo()", ng-class="[]", ng-show="slowMotionAvailable", ng-cloak).icon-2x.icon-time.right.icon-button.play-control
  //- span(ng-click="togglePlay()", ng-class="[playPauseButtonName]").icon-2x.play-control    
  //- span()#scrubbar.nav.slider(load-scrub-bar)
  //- //- div
  //- //-   
  //- //-   span(ng-click="toggleVolume()", ng-class="[volumeStateClass]").icon-2x.right.icon-button.play-control
