
div(id="player-box").container-fluid
  div.row-fluid
    div.sidebar-nav.left
      h2 Left Sidebar

    div().sidebar-nav.right
      table.table
        tr(ng-repeat="segment in videoSegments", mouseover="activeclip", ng-click="playSegment(segment)")
          td
            h4 {{segment.sourceTitle}}

    div.content.fixed-fixed
      div
        youtube-player

video-scroller(val="segmentInfo", scroll="scrollFunction()")