extends layout

block body
  div(ng-controller="NavbarCtrl", ng-show="showNavbar()", ng-cloak).navbar.navbar-fixed-top
    div.navbar-inner
      div.container-fluid.navbar-contents
        a(href="/", ng-click="brandClick()").brand Sk8tography
        ul.nav
          li()
            a(href='/tagClips') Tag Clips
          li()
            a(href='/addVideoSegment') Add Videos
          li.dropdown
            a(href="#", data-toggle="dropdown", ng-cloak).dropdown-toggle {{feedbackLabel}}
            div.dropdown-menu
              include partials/includes/feedbackForm
        div.span1        
        ul(ng-show="!isLoggedIn()", ng-cloak).nav.pull-right
          li
            a(href="/sign_up", ng-click="signup()") Sign Up
          li.divider-vertical
          li.dropdown
            a(href="#", data-toggle="dropdown").dropdown-toggle Sign In
              strong.caret
            div.dropdown-menu
              form.login-menu
                fieldset
                  legend Login
                  input(type="text", placeholder="Username", ng-model="usernameVal")
                  input(type="password", placeholder="Password", ng-model="passwordVal")
                  button(type="submit", ng-click="login()").btn Login
        ul(ng-show="isLoggedIn()", ng-cloak).nav.pull-right
          li.dropdown
            a(href="#", data-toggle="dropdown").dropdown-toggle {{username()}}
              strong.caret
            ul.dropdown-menu.login-menu
              li
                a(ng-click="logout()") Logout

  div(ng-view)


  // library & 3rd Party
  script(src='js/lib/jquery/jquery.min.js')
  script(src='js/lib/jquery/jquery-ui.js')
  script(src='js/lib/jquery/jquery.thumbnailScroller.js')
  script(src='js/lib/angular-1.1.5/angular.js') 
  script(src='js/lib/angular-1.1.5/angular-cookies.js')
  script(src='js/lib/ui-bootstrap/ui-bootstrap-tpls-0.4.0.js')
  script(src='js/lib/bootstrap/bootstrap.min.js')
  script(src='js/lib/d3/d3.v3.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='http://www.youtube.com/iframe_api')
  //script(src='http://s.ytimg.com/yts/jsbin/www-widgetapi-vflr_hAhz.js')


  // constants & helpers
  script(src='js/SharedConstants.js')
  script(src='js/CommonHelpers.js')


  // angular structure
  script(src='js/app.js')  
  
  script(src='js/filters.js')

  // services
  script(src='js/services.js')
  script(src='js/services/dataServices.js')


  // directives
  script(src='js/directives.js')
  script(src='js/directives/videoScroller.js')
  script(src='js/directives/youtubeVideoPlayer.js')
  script(src='js/directives/updateClip.js')


  // controllers
  script(src='js/controllers/SignupCtrl.js')
  script(src='js/controllers/NavbarCtrl.js')
  script(src='js/controllers/InputBlockCtrl.js')
  script(src='js/controllers/AddNewVideoCtrl.js')
  script(src='js/controllers/AddNewSkaterCtrl.js')
  script(src='js/controllers/AddVideoSegmentCtrl.js')
  script(src='js/controllers/AddNewTrickTypeCtrl.js')
  script(src='js/controllers/VideoSegmentsCtrl.js')
  script(src='js/controllers/IndexCtrl.js')
  script(src='js/controllers/DetailsCtrl.js')
  script(src='js/controllers/YoutubeCtrl.js')
  script(src='js/controllers/YoutubePlayerCtrl.js')
  script(src='js/controllers/TagClipsCtrl.js')
  script(src='js/controllers/AdminCtrl.js')
  script(src='js/controllers/VisPlaygroundCtrl.js')
  script(src='js/controllers/VideoSegmentScrollerCtrl.js')
  script(src='js/controllers/DemoAuthCtrl.js')
  script(src='js/controllers/YoutubeVideoCtrl.js')
  script(src='js/controllers/UberController.js')
  script(src='js/controllers/UpdateClipCtrl.js')


  // legacy
  script(src='js/controllers.js')


  // in production, switch to cdns...
  // src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"
  // src="ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-cookies.min.js"
  // src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
  // src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"
  // src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.2/angular-strap.min.js"