extends layout

block body
  div.navbar.navbar-fixed-top(bs-navbar)
    div.navbar-inner
      div.container-fluid
        a.brand(href="/") Sk8tography
        ul.nav
          li(data-match-route="/tagClips")
            a(href='/tagClips') Tag Clips
          li(data-match-route="/addVideoSegment")
            a(href='/addVideoSegment') Add Videos
  div(ng-view)


  // library & 3rd Party
  script(src='js/jquery.min.js') 
  script(src='js/lib/angular-1.1.5/angular.js') 
  script(src='js/angular-strap.js')  
  script(src='js/lib/ui-bootstrap/ui-bootstrap-tpls-0.4.0.js')
  script(src='js/jquery-ui.js')
  script(src='js/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='http://www.youtube.com/iframe_api')
  script(src='http://s.ytimg.com/yts/jsbin/www-widgetapi-vflr_hAhz.js')


  // constants
  script(src='js/SharedConstants.js')


  // angular structure
  script(src='js/app.js')  
  script(src='js/services.js')
  script(src='js/filters.js')
  script(src='js/directives.js')


  // controllers
  script(src='js/controllers/InputBlockCtrl.js')
  script(src='js/controllers/AddNewVideoCtrl.js')
  script(src='js/controllers/AddNewSkaterCtrl.js')
  script(src='js/controllers/AddVideoSegmentCtrl.js')
  script(src='js/controllers/VideoSegmentsCtrl.js')
  script(src='js/controllers/IndexCtrl.js')
  script(src='js/controllers/YoutubeCtrl.js')
  script(src='js/controllers/TagClipsCtrl.js')


  // legacy
  script(src='js/controllers.js')


  // in production, switch to cdns...
  // src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"
  // src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
  // src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"
  // src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.2/angular-strap.min.js"