!!!
html(ng-app="myApp")
  head
    meta(charset='utf8', name='viewport', content='width=device-width, initial-scale=1.0')
    base(href='/')
    title Sk8tography
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.min.journal.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='stylesheet', href='/css/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/jquery.thumbnailScroller.css')
  body
    block body