/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

table {
  table-layout: fixed;
}

table th, table td { 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.thumbColoum {
  width : 10%;
}

.infoColumn {
  width : 55%;
}

.extraInfoColumn {
  width : 10%
}

.urlColumn {
  width : 25%;
}