/* app css stylesheet */

body {
  padding-top: 70px;
}

.login-menu {
  padding: 15px;
  padding-bottom: 0px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

table {
  table-layout: fixed;
}

table th, table td { 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.thumbColoum {
  width : 10%;
}

.infoColumn {
  width : 55%;
}

.extraInfoColumn {
  width : 10%
}

.urlColumn {
  width : 25%;
}


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.ellipsis.multiline {
  white-space: normal;
}

/**************************************************
  Navbar
**************************************************/
.activeLink {
  text-decoration: underline;
}

.navbar-position {
  position:fixed;
}

.navbar-contents {
  background-color: lightgray;
}

/**************************************************
  Feedback Menu
**************************************************/

.feedback-menu {
  padding: 15px;
  padding-bottom: 0px;
}

.feedback-input {
  width: 400px;
}

/**************************************************
  Home Page
***************************************************/
.input-append .btn.dropdown-toggle {
    float: none;
}

.thumb-scroller-row {
  height: 300px;
}

.thumb-scroller-info-column {
  width: 200px;
  text-align: center;
  vertical-align: middle;
}

.thumb-scroller-column {
  text-align: left;
  vertical-align: middle;
}

.scroller-thumb {
  height: 120px;
  display: inline-block;
}

.thumb-info {
  height: 40px;
  display: inline-block;
}

.scroller-thumb-container {
  height: 168px;
  display: inline-block;
}

.jThumbnailScroller {
  height: 190px;
}

#scroller-table th {
  border-top: none;
}

#scroller-table td {
  border-top: none;
}


/**************************************************
  VideoSegmentScroller
**************************************************/
#player-box {
  height : 400px;
  overflow: scroll;
  background-color: #d3d3d3;
}

.scroller-container {
  background-color : #FFFF00;
}


/**************************************************
  Details Page
**************************************************/

.container-fluid.details > .sidebar {
  position: relative;
  top: 0;
  left:auto;
  width: 220px;
}

.container-fluid.details > .content {
  margin: 0 240px;
}


.row-fluid > .sidebar-nav {
  position: relative;
  top: 0;
  left:auto;
  width: 260px;
}

.fixed-fluid {
  margin-left: 300px;
}
.fluid-fixed {
  margin-right: 300px;
  margin-left:auto !important;
}
.fixed-fixed {
  margin: 0 320px;
}


/**************************************************
  Videoconsole & tag clips page styles
***************************************************/

.container-fluid > .sidebar.left {
    position: fixed;
    top: auto;
    left:auto;
    width: 25%;
    margin-bottom: 5px;
}

.left {
    float:left;
}

.right {
    float:right;
}

.center-align {
  text-align: center;
}

.container-fluid > .content {
    vertical-align: top;
    width: 69%;
    /*
    position: fixed;
    margin: 0 26%;
    */
}

.player-console {
  float: left;
  width:60%;
}

.tagging-console {
  width:38%;
  float: right;
  margin-top:10px;
  background-color: #C0C0C0;
  padding: 1%;
}

.current-clip-content {
}

.clip-filter {
  position: fixed;
}

.clips {
  height: 800px;
  margin-top: 70px;
  overflow:auto; 
  overflow-y:auto;
}

.activeclip {
  background-color: gray;
}

li.clip-element:hover {
  background-color: pink;
}

.controls {
  margin: 20px 0px 20px 0px; 
}

.videobutton {
  width: 150px;
}


.maxwidth {
  width:100%;
}

.scrubbar-cell {
  width: 70%;
}

.button-cell {
  width: 30%;
}

.videoconsole {
  margin-right: 10px;
  padding: 10px;
}

.slider {
  border-width: 1px;  
  border-style: solid;  
  border-color: #333 #333 #777 #333;  
  border-radius: 25px;  
  position: absolute;  
  height: 13px;  
  background-color: #8e8d8d;  
  background: url('images/bg-track.png') repeat top left;
  margin-left: 10px;
  margin-right: 10px;
    
  box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),   
                 0 1px 0 0px rgba(250, 250, 250, .5);  
}

.ui-widget-header{
  background-image:none;background-color:#887e6d;
}

.thumbspan {
  width: 120px;
}

.clips .infoColumn {
  width: 50%;
}

.trick-linkage {
  position: absolute;  
}

.combo-true {
  color: #00f;
}

.add-action {
  color: #00AB66;
}

.remove-action {
  color: #B22222;
}

.remove-trick {
  position: relative;
  left: 40px;
}

/**************************************************
  Videos page
***************************************************/

.actionable:hover {
  cursor: hand; 
  cursor: pointer;
}

.subform {
  margin-left: 30;
}

/**************************************************
  Forms
**************************************************/

.form-horizontal .control-group {
    margin-bottom: 8px;
}

.year-input {
  min : 1950;
  max : 2020;
}

/**************************************************
  Modals
**************************************************/

body .modal-form {
  width: 50%; /* desired relative width */
  left: 25%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}

body.modal-form.fade.in {
  top: auto; /* fade in to correct spot */
}


/**************************************************
  Animations
***************************************************/

.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

.view-enter, .view-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}

.view-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
  left:-100px;
  opacity:0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
