/* app css stylesheet */

body {
  padding-top: 70px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

table {
  table-layout: fixed;
}

table th, table td { 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.thumbColoum {
  width : 10%;
}

.infoColumn {
  width : 55%;
}

.extraInfoColumn {
  width : 10%
}

.urlColumn {
  width : 25%;
}

/* tag clips */

.container-fluid > .sidebar {
    position: relative;
    top: 0;
    left:auto;
    width: 240px;
}

.left {
    float:left;
}

.right {
    float:right;
}

.container-fluid > .content {
    margin: 0 260px;
}

/**************************************************
  Navbar
**************************************************/
.activeLink {
  text-decoration: underline;
}

.navbar-position {
  position:fixed;
}


/**************************************************
  Video console & tag clips page styles
***************************************************/

.content {
  position: fixed;
}

.activeclip {
  background-color: gray;
}

.controls {
  margin: 20px 0px 20px 0px; 
}

.videobutton {
  width: 150px;
}

.maxwidth {
  width:100%;
}

.videoconsole {
  width: 640px;
}

.slider {
  border-width: 1px;  
  border-style: solid;  
  border-color: #333 #333 #777 #333;  
  border-radius: 25px;  
  position: absolute;  
  height: 13px;  
  background-color: #8e8d8d;  
  background: url('images/bg-track.png') repeat top left;
  margin-left: 10px;
  margin-right: 10px;
    
  box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),   
                 0 1px 0 0px rgba(250, 250, 250, .5);  
}

.ui-widget-header{
  background-image:none;background-color:#887e6d;
}

/**************************************************
  Videos page
***************************************************/

.actionable:hover {
  cursor: hand; 
  cursor: pointer;
}

.subform {
  margin-left: 30;
}

/**************************************************
  Forms
**************************************************/

.form-horizontal .control-group {
    margin-bottom: 8px;
}

.year-input {
  min : 1950;
  max : 2020;
}

/**************************************************
  Modals
**************************************************/

body .modal-form {
  width: 50%; /* desired relative width */
  left: 25%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto; 
}

body.modal-form.fade.in {
  top: auto; /* fade in to correct spot */
}


/**************************************************
  Animations
***************************************************/

.fade-hide, .fade-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide {
  opacity:1;
}
.fade-hide.fade-hide-active {
  opacity:0;
}

.fade-show {
  opacity:0;
}
.fade-show.fade-show-active {
  opacity:1;
}

.view-enter, .view-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}

.view-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
  left:-100px;
  opacity:0;
}
