form
  fieldset(ng-repeat="input in inputs").control-group
    div
      label.control-label {{input.name}}
      div.controls
        input(ng-model="input.value", 
              type="{{input.type}}", 
              index="{{$index}}", 
              structured-input, 
              typeahead="value for value in defaultTypeahed($viewValue)", 
              typeahead-on-select='onTypeaheadSelect($index)').input-xlarge
        span &nbsp;&nbsp;
        i(ng-show="inputs[$index].selectedObj != null").icon-check-sign
        span(ng-show='showAddEntity($index)', data-ng-animate="'fade'", style="display:none")          
          &nbsp;&nbsp;&nbsp;&nbsp; "{{input.value}}" not found. &nbsp;&nbsp;&nbsp;&nbsp;                
          button.btn.btn-success.btn-small(ng-click='addNewEntity($index)') Add new {{input.entityName}} to the Sk8abase
        span.help-block {{input.helpText}}
