
div.videoconsole
  div#player(load-youtube-player)
  table.controls.table-condensed.maxwidth
    tr
      td.button-cell
        button.nav.videobutton.btn.btn-success.btn-large(ng-click="togglePlay()")
          {{playPauseButtonName}}
      td.scrubbar-cell
        div#scrubbar.nav.slider(load-scrub-bar)