
div.videoconsole
  div#player(load-youtube-player)
  div.player-controls
    span(ng-click="togglePlay()", ng-class="[playPauseButtonName]").icon-2x.play-control
    span()#scrubbar.nav.slider(load-scrub-bar)
    span
  
       